/* publish ride section */
:root {
    --primary-color: #23af98;
    --secondary-color: #23af98;
    --bg-color: #f4f4f4;
    --font-color: #333;
    --input-bg: #fff;
    --input-border: #ddd;
    --input-focus-border: var(--primary-color);
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --transition: 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: var(--font-color);
}

.publish-ride-container {
    background-color: var(--input-bg);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 400px;
}

.publish-ride-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.publish-ride-form .input-group {
    margin-bottom: 1rem;
}

.publish-ride-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.publish-ride-form input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--input-bg);
    transition: border-color var(--transition), box-shadow var(--transition);
}

.publish-ride-form input:focus {
    border-color: var(--input-focus-border);
    outline: none;
    box-shadow: #23af98;
}

/* Flexbox for time inputs */
.time-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.time-group div {
    flex: 1;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1.125rem;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--transition);
}

.submit-btn:hover {
    background-color: var(--secondary-color);
}
